:root {
    --sameam-3themesyslightoutline: rgba(221, 221, 221, 1);
    --sameam-3themesyslightsecondary: rgba(0, 0, 0, 1);
    --sameam3themesyslighton-primary: rgba(255, 255, 255, 1);
    --sameam3themesyslighton-surface-variant: rgba(0, 0, 0, 1);
    --sameam3themesyslighton-surface: rgba(28, 27, 31, 1);
    --sameam3themesyslightprimary-container: rgba(0, 0, 0, 1);
    --sameam3themestate-layerslightoutlineopacity-016: rgba(121, 116, 126, 0.16);
    --sameam-3themesyslightprimary: rgba(241, 110, 0, 1);
    --sameam3themeextendedcustom-color-7lightcustom-color-7: rgba(80, 190, 135, 1);
    --sameam3themesyslightsurface-variant: rgba(238, 238, 238, 1);
    --sameam3themeextendedcustom-color1lightcustom-color1: rgba(255, 204, 0, 1);
    --sameam3themeextendedcustom-color-2lightcustom-color-2-container: rgba(229, 236, 250, 1);
    --sameam-3themesyslightsurface: rgba(255, 255, 255, 1);
    --sameam-3themerefneutralneutral-10: rgba(30, 29, 27, 1);
    --sameam3themeextendedcustom-color-2lightcustom-color2: rgba(82, 126, 219, 1);
    --sameam-3themerefneutralneutral-60: rgba(147, 147, 147, 1);
    --sameam-3themerefneutralneutral-99: rgba(250, 250, 250, 1);
    --sameam-3themesysdarkoutline: rgba(147, 143, 153, 1);
    --sameam-3themerefneutralneutral-20: rgba(51, 50, 50, 1);
    --SAMEA-m3-THEME-title-custom1-font-family: "Roboto", Helvetica;
    --SAMEA-m3-THEME-title-custom1-font-weight: 700;
    --SAMEA-m3-THEME-title-custom1-font-size: 18px;
    --SAMEA-m3-THEME-title-custom1-letter-spacing: 0px;
    --SAMEA-m3-THEME-title-custom1-line-height: 28px;
    --SAMEA-m3-THEME-title-custom1-font-style: normal;
    --SAMEA-m3-THEME-label-small-font-family: "Roboto", Helvetica;
    --SAMEA-m3-THEME-label-small-font-weight: 500;
    --SAMEA-m3-THEME-label-small-font-size: 11px;
    --SAMEA-m3-THEME-label-small-letter-spacing: 0.5px;
    --SAMEA-m3-THEME-label-small-line-height: 16px;
    --SAMEA-m3-THEME-label-small-font-style: normal;
    --SAMEA-m3-THEME-label-medium-font-family: "Roboto", Helvetica;
    --SAMEA-m3-THEME-label-medium-font-weight: 500;
    --SAMEA-m3-THEME-label-medium-font-size: 12px;
    --SAMEA-m3-THEME-label-medium-letter-spacing: 0.5px;
    --SAMEA-m3-THEME-label-medium-line-height: 16px;
    --SAMEA-m3-THEME-label-medium-font-style: normal;
    --SAMEA-m3-THEME-title-small-font-family: "Roboto", Helvetica;
    --SAMEA-m3-THEME-title-small-font-weight: 500;
    --SAMEA-m3-THEME-title-small-font-size: 14px;
    --SAMEA-m3-THEME-title-small-letter-spacing: 0.10000000149011612px;
    --SAMEA-m3-THEME-title-small-line-height: 20px;
    --SAMEA-m3-THEME-title-small-font-style: normal;
    --SAMEA-m3-THEME-label-large-font-family: "Roboto", Helvetica;
    --SAMEA-m3-THEME-label-large-font-weight: 500;
    --SAMEA-m3-THEME-label-large-font-size: 14px;
    --SAMEA-m3-THEME-label-large-letter-spacing: 0.10000000149011612px;
    --SAMEA-m3-THEME-label-large-line-height: 20px;
    --SAMEA-m3-THEME-label-large-font-style: normal;
  }
  